body{
  font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    background-color: #212121;
    color: rgb(255, 255, 255);
   
    font-size: 1em;
}
ul{
  list-style: none !important;
  margin: 0;
  padding: 0;
}